openapi: 3.1.0
info:
  title: Factorize API
  version: 1.0.0
  description: Versioned Factorize REST API. See the hosted docs for examples and OAuth discovery.
  x-dashboard-auth: Access-token and authorized-client management operations require an interactive owner session; all other operations accept a suitably scoped bearer token or owner session.
servers:
  - url: https://app.factorize.sh
security: [{ bearerAuth: [] }]
components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: OAuth2 }
  schemas:
    Error: { type: object, required: [error], properties: { error: { type: object, required: [code, message], properties: { code: { type: string }, message: { type: string } } } } }
    JobInput:
      type: object
      required: [name, slug, promptTemplate, executionTargetId]
      additionalProperties: false
      properties:
        name: { type: string, minLength: 1, maxLength: 120 }
        slug: { type: string, pattern: '^[a-z][a-z0-9_-]{0,29}$' }
        promptTemplate: { type: string, minLength: 1, maxLength: 50000 }
        concurrencyLimit: { type: integer, minimum: 1, maximum: 50, default: 1 }
        executionTargetId: { type: string, minLength: 1 }
        model: { type: string, maxLength: 120 }
        effort: { type: string, maxLength: 40 }
        triggers: { type: array, maxItems: 50, items: { type: object } }
    ExecutionDiagnostics:
      type: [object, 'null']
      description: First terminal backend observation, retained independently of collection and cleanup errors. Null for older or nonterminal runs. Commands and raw backend responses are never included.
      required: [state, detail, systemd]
      properties:
        state: { type: string, enum: [succeeded, failed, stopped] }
        detail: { type: [string, 'null'], maxLength: 2048, description: Bounded credential-redacted backend observation detail }
        systemd:
          type: [object, 'null']
          required: [loadState, activeState, subState, result, execMainCode, execMainStatus]
          properties:
            loadState: { type: string, maxLength: 64 }
            activeState: { type: string, maxLength: 64 }
            subState: { type: string, maxLength: 64 }
            result: { type: string, maxLength: 64 }
            execMainCode: { type: [integer, 'null'], description: systemd ExecMainCode (for example 1 for exit and 2 for signal) }
            execMainStatus: { type: [integer, 'null'], description: systemd exit status or signal number; null if unavailable }
    HarnessLog:
      type: [object, 'null']
      description: Stored redacted harness stderr artifact, or null if unavailable. Uses the combined log for older VMs. Retains at most the first 64 KiB, drops a truncated final line, and redacts recognizable credentials before storage. The object key is a storage locator, not a public or signed URL. This artifact remains available after VM deletion.
      required: [id, kind, object_key, provider, format, byte_size, sha256, state, created_at]
      properties:
        id: { type: string }
        kind: { type: string, const: terminal_log }
        object_key: { type: string }
        provider: { type: string }
        format: { type: string, const: text }
        format_version: { type: [string, 'null'] }
        cli_version: { type: [string, 'null'] }
        native_session_id: { type: [string, 'null'] }
        byte_size: { type: [integer, string], description: Byte count (PostgreSQL bigint may serialize as a decimal string), maximum: 65536 }
        sha256: { type: string, pattern: '^[a-f0-9]{64}$' }
        state: { type: string, enum: [stored] }
        created_at: { type: string, format: date-time }
    RunDetail:
      type: object
      required: [id, state, execution_diagnostics, harness_log]
      properties:
        id: { type: string }
        state: { type: string }
        execution_diagnostics: { $ref: '#/components/schemas/ExecutionDiagnostics' }
        harness_log: { $ref: '#/components/schemas/HarnessLog' }
        artifact_error: { type: [string, 'null'], description: Secondary artifact or cleanup error; does not replace execution_diagnostics }
    RunDiagnostics:
      type: object
      required: [runId, jobId, state, execution, harnessLog, artifact, activity]
      properties:
        runId: { type: string }
        jobId: { type: string }
        state: { type: string }
        provider: { type: string }
        backendKind: { type: string }
        execution: { $ref: '#/components/schemas/ExecutionDiagnostics' }
        harnessLog: { $ref: '#/components/schemas/HarnessLog' }
        artifact:
          type: object
          properties:
            state: { type: string }
            error: { type: [string, 'null'], description: Secondary collection or cleanup error. Collection is retried up to three times before cleanup proceeds with partial artifacts. Cleanup failures remain retryable. }
        activity: { type: array, items: { type: object } }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    RunPage: { type: object, required: [items], properties: { items: { type: array, items: { type: object } }, nextCursor: { type: string, nullable: true } } }
    ManualInvocation:
      type: object
      additionalProperties: false
      properties:
        name: { type: string, minLength: 1, maxLength: 120, description: Display name for the run }
        prompt: { type: string, maxLength: 50000, default: '' }
        data: { type: object, additionalProperties: true, default: {} }
        idempotencyKey: { type: string, minLength: 1, maxLength: 200 }
paths:
  /healthz: { get: { summary: Worker health check, security: [], responses: { '200': { description: OK, content: { application/json: { example: { ok: true } } } } } } }
  /api/v1/exe-connections: { get: { summary: List exe connections, responses: { '200': { description: Safe metadata } } } }
  /api/v1/github-installations: { get: { summary: List GitHub installations, responses: { '200': { description: Installations } } } }
  /api/v1/execution-targets: { get: { summary: List execution targets, responses: { '200': { description: Targets } } } }
  /api/v1/job-trigger-availability: { get: { summary: List available trigger kinds, responses: { '200': { description: Availability } } } }
  /api/v1/integrations/cloudflare-tail: { get: { summary: List Tail integrations, responses: { '200': { description: Integrations } } }, post: { summary: Create a Tail integration, responses: { '201': { description: Created } } } }
  /api/v1/integrations: { get: { summary: List installed integrations, responses: { '200': { description: Credential-safe integration status } } } }
  /api/v1/integrations/exe: { put: { summary: Create an exe.dev integration, responses: { '200': { description: Saved } } } }
  /api/v1/integrations/exe/test: { post: { summary: Test exe.dev credentials, responses: { '200': { description: Test result } } } }
  /api/v1/integrations/exe/{connectionId}: { delete: { summary: Remove an exe.dev integration, responses: { '200': { description: Removed } } } }
  /api/v1/integrations/amp: { put: { summary: Create an Amp integration, responses: { '200': { description: Saved } } } }
  /api/v1/integrations/amp/test: { post: { summary: Test Amp credentials, responses: { '200': { description: Test result } } } }
  /api/v1/integrations/amp/{connectionId}: { delete: { summary: Remove an Amp integration, responses: { '200': { description: Removed } } } }
  /api/v1/integrations/cloudflare-tail/{integrationId}: { put: { summary: Update a Tail integration, responses: { '200': { description: Updated } } }, delete: { summary: Remove a Tail integration, responses: { '200': { description: Removed } } } }
  /api/v1/integrations/cloudflare-tail/{integrationId}/test: { post: { summary: Test a Tail integration, responses: { '200': { description: Test result } } } }
  /api/v1/providers/linear/projects: { get: { summary: List Linear projects, responses: { '200': { description: Projects } } } }
  /api/v1/providers/linear/options: { get: { summary: List Linear trigger options, responses: { '200': { description: Options } } } }
  /api/v1/providers/clickup/lists: { get: { summary: List ClickUp lists, responses: { '200': { description: Lists } } } }
  /api/v1/providers/clickup/options: { get: { summary: List ClickUp trigger options, responses: { '200': { description: Options } } } }
  /api/v1/providers/github/installations: { get: { summary: List GitHub installations for provider setup, responses: { '200': { description: Installations } } } }
  /api/v1/providers/github/installations/{installationId}: { delete: { summary: Disconnect a GitHub installation, responses: { '200': { description: Disconnected } } } }
  /api/v1/providers/github/installations/{installationId}/repositories: { get: { summary: List installation repositories, responses: { '200': { description: Repositories } } } }
  /api/v1/providers/github/installations/{installationId}/repositories/{repositoryId}/issue-options: { get: { summary: List GitHub issue trigger options, responses: { '200': { description: Options } } } }
  /api/v1/access/authorized-clients: { get: { summary: List authorized OAuth clients, responses: { '200': { description: Clients } } } }
  /api/v1/access/authorized-clients/{clientId}: { delete: { summary: Revoke an authorized OAuth client, responses: { '200': { description: Revoked grants } } } }
  /api/v1/access-tokens: { get: { summary: List access tokens, responses: { '200': { description: Token metadata } } }, post: { summary: Create an access token, responses: { '201': { description: Created token } } } }
  /api/v1/access-tokens/{tokenId}: { delete: { summary: Revoke an access token, responses: { '200': { description: Revoked } } } }
  /api/v1/integrations/exe/{connectionId}/diagnostics:
    parameters: [{ name: connectionId, in: path, required: true, schema: { type: string } }]
    post: { summary: Probe exe.dev permissions and a disposable VM's agent/model integration, responses: { '200': { description: Credential-safe diagnostic result } } }
  /api/v1/jobs:
    get: { summary: List jobs, responses: { '200': { description: Jobs } } }
    post: { summary: Create job, requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/JobInput' } } } }, responses: { '201': { description: Created } } }
  /api/v1/jobs/{jobId}:
    parameters: [{ name: jobId, in: path, required: true, schema: { type: string } }]
    get: { summary: Get job, responses: { '200': { description: Job } } }
    put: { summary: Replace job, requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/JobInput' } } } }, responses: { '200': { description: Updated } } }
    delete: { summary: Delete job, responses: { '200': { description: Deleted } } }
  /api/v1/jobs/{jobId}/enable: { post: { summary: Enable job, responses: { '200': { description: Enabled } } } }
  /api/v1/jobs/{jobId}/disable: { post: { summary: Disable job, responses: { '200': { description: Disabled } } } }
  /api/v1/jobs/{jobId}/invocations: { post: { summary: Invoke job, requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/ManualInvocation' } } } }, responses: { '202': { description: Accepted } } } }
  /api/v1/jobs/{jobId}/events: { get: { summary: List webhook activity, responses: { '200': { description: Activity } } } }
  /api/v1/webhooks/deliveries: { get: { summary: Search webhook deliveries, responses: { '200': { description: Cursor-paginated safe delivery records } } } }
  /api/v1/webhooks/deliveries/{deliveryId}: { get: { summary: Get webhook delivery detail and processing timeline, responses: { '200': { description: Safe delivery detail } } } }
  /api/v1/job-handlers/test: { post: { summary: Test webhook handler, responses: { '200': { description: Decision } } } }
  /api/v1/runs:
    get: { summary: List runs, parameters: [{ name: jobId, in: query, schema: { type: string } }, { name: state, in: query, schema: { type: string } }, { name: contextQuery, in: query, schema: { type: string } }, { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100 } }, { name: cursor, in: query, schema: { type: string } }], responses: { '200': { description: Paginated runs, content: { application/json: { schema: { $ref: '#/components/schemas/RunPage' } } } } } }
  /api/v1/runs/{runId}: { get: { summary: Get run, responses: { '200': { description: Run including durable execution diagnostics and harness artifact location, content: { application/json: { schema: { $ref: '#/components/schemas/RunDetail' } } } } } } }
  /api/v1/runs/{runId}/trace: { get: { summary: Get paginated run trace events, responses: { '200': { description: Trace page } } } }
  /api/v1/runs/{runId}/diagnostics: { get: { summary: Get credential-safe run lifecycle diagnostics, responses: { '200': { description: Credential-safe execution metadata and durable harness artifact location, content: { application/json: { schema: { $ref: '#/components/schemas/RunDiagnostics' } } } } } } }
  /api/v1/runs/{runId}/stop: { post: { summary: Stop run, responses: { '200': { description: Stopped } } } }
  /api/v1/runs/{runId}/kill: { post: { summary: Kill run and immediately release its concurrency slot, responses: { '200': { description: Killed } } } }
  /api/v1/schedules/preview: { post: { summary: Preview schedule, responses: { '200': { description: Next occurrence } } } }
  /api/v1/search: { get: { summary: Search jobs and runs, responses: { '200': { description: Search results } } } }
