openapi: 3.1.0
info:
  title: Factorize API
  version: 1.0.0
  description: Versioned Factorize REST API. See the hosted docs for examples and OAuth discovery.
  x-dashboard-auth: Access-token and authorized-client management operations require an interactive owner session; all other operations accept a suitably scoped bearer token or owner session.
servers:
  - url: https://app.factorize.sh
security: [{ bearerAuth: [] }]
components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: OAuth2 }
  schemas:
    Error: { type: object, required: [error], properties: { error: { type: object, required: [code, message], properties: { code: { type: string }, message: { type: string } } } } }
    JobInput:
      type: object
      required: [name, slug, promptTemplate, executionTargetId]
      additionalProperties: false
      properties:
        name: { type: string, minLength: 1, maxLength: 120 }
        slug: { type: string, pattern: '^[a-z][a-z0-9_-]{0,29}$' }
        promptTemplate: { type: string, minLength: 1, maxLength: 50000 }
        concurrencyLimit: { type: integer, minimum: 1, maximum: 50, default: 1 }
        executionTargetId: { type: string, minLength: 1 }
        model: { type: string, maxLength: 120 }
        effort: { type: string, maxLength: 40 }
        triggers: { type: array, maxItems: 50, items: { type: object } }
    Run:
      type: object
      properties:
        created_at: { type: string, format: date-time, description: Time the run was created and queued. }
        started_at: { type: string, format: date-time, nullable: true, description: Time execution launch succeeded. Null until started or when unknown. Runtime starts here; the difference from created_at is queue time including launch preparation. }
        updated_at: { type: string, format: date-time, description: Last run update; used as the elapsed runtime endpoint for terminal runs. }
    RunPage: { type: object, required: [items], properties: { items: { type: array, items: { $ref: '#/components/schemas/Run' } }, nextCursor: { type: string, nullable: true } } }
    ManualInvocation:
      type: object
      additionalProperties: false
      properties:
        name: { type: string, minLength: 1, maxLength: 120, description: Display name for the run }
        prompt: { type: string, maxLength: 50000, default: '' }
        data: { type: object, additionalProperties: true, default: {} }
        idempotencyKey: { type: string, minLength: 1, maxLength: 200 }
paths:
  /healthz: { get: { summary: Worker health check, security: [], responses: { '200': { description: OK, content: { application/json: { example: { ok: true } } } } } } }
  /api/v1/exe-connections: { get: { summary: List exe connections, responses: { '200': { description: Safe metadata } } } }
  /api/v1/github-installations: { get: { summary: List GitHub installations, responses: { '200': { description: Installations } } } }
  /api/v1/execution-targets: { get: { summary: List execution targets, responses: { '200': { description: Targets } } } }
  /api/v1/job-trigger-availability: { get: { summary: List available trigger kinds, responses: { '200': { description: Availability } } } }
  /api/v1/integrations/cloudflare-tail: { get: { summary: List Tail integrations, responses: { '200': { description: Integrations } } }, post: { summary: Create a Tail integration, responses: { '201': { description: Created } } } }
  /api/v1/integrations: { get: { summary: List installed integrations, responses: { '200': { description: Credential-safe integration status } } } }
  /api/v1/integrations/exe: { put: { summary: Create an exe.dev integration, responses: { '200': { description: Saved } } } }
  /api/v1/integrations/exe/test: { post: { summary: Test exe.dev credentials, responses: { '200': { description: Test result } } } }
  /api/v1/integrations/exe/{connectionId}: { delete: { summary: Remove an exe.dev integration, responses: { '200': { description: Removed } } } }
  /api/v1/integrations/amp: { put: { summary: Create an Amp integration, responses: { '200': { description: Saved } } } }
  /api/v1/integrations/amp/test: { post: { summary: Test Amp credentials, responses: { '200': { description: Test result } } } }
  /api/v1/integrations/amp/{connectionId}: { delete: { summary: Remove an Amp integration, responses: { '200': { description: Removed } } } }
  /api/v1/integrations/cloudflare-tail/{integrationId}: { put: { summary: Update a Tail integration, responses: { '200': { description: Updated } } }, delete: { summary: Remove a Tail integration, responses: { '200': { description: Removed } } } }
  /api/v1/integrations/cloudflare-tail/{integrationId}/test: { post: { summary: Test a Tail integration, responses: { '200': { description: Test result } } } }
  /api/v1/providers/linear/projects: { get: { summary: List Linear projects, responses: { '200': { description: Projects } } } }
  /api/v1/providers/linear/options: { get: { summary: List Linear trigger options, responses: { '200': { description: Options } } } }
  /api/v1/providers/clickup/lists: { get: { summary: List ClickUp lists, responses: { '200': { description: Lists } } } }
  /api/v1/providers/clickup/options: { get: { summary: List ClickUp trigger options, responses: { '200': { description: Options } } } }
  /api/v1/providers/github/installations: { get: { summary: List GitHub installations for provider setup, responses: { '200': { description: Installations } } } }
  /api/v1/providers/github/installations/{installationId}: { delete: { summary: Disconnect a GitHub installation, responses: { '200': { description: Disconnected } } } }
  /api/v1/providers/github/installations/{installationId}/repositories: { get: { summary: List installation repositories, responses: { '200': { description: Repositories } } } }
  /api/v1/providers/github/installations/{installationId}/repositories/{repositoryId}/issue-options: { get: { summary: List GitHub issue trigger options, responses: { '200': { description: Options } } } }
  /api/v1/access/authorized-clients: { get: { summary: List authorized OAuth clients, responses: { '200': { description: Clients } } } }
  /api/v1/access/authorized-clients/{clientId}: { delete: { summary: Revoke an authorized OAuth client, responses: { '200': { description: Revoked grants } } } }
  /api/v1/access-tokens: { get: { summary: List access tokens, responses: { '200': { description: Token metadata } } }, post: { summary: Create an access token, responses: { '201': { description: Created token } } } }
  /api/v1/access-tokens/{tokenId}: { delete: { summary: Revoke an access token, responses: { '200': { description: Revoked } } } }
  /api/v1/integrations/exe/{connectionId}/diagnostics:
    parameters: [{ name: connectionId, in: path, required: true, schema: { type: string } }]
    post: { summary: Probe exe.dev permissions and a disposable VM's agent/model integration, responses: { '200': { description: Credential-safe diagnostic result } } }
  /api/v1/jobs:
    get: { summary: List jobs, responses: { '200': { description: Jobs } } }
    post: { summary: Create job, requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/JobInput' } } } }, responses: { '201': { description: Created } } }
  /api/v1/jobs/{jobId}:
    parameters: [{ name: jobId, in: path, required: true, schema: { type: string } }]
    get: { summary: Get job, responses: { '200': { description: Job } } }
    put: { summary: Replace job, requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/JobInput' } } } }, responses: { '200': { description: Updated } } }
    delete: { summary: Delete job, responses: { '200': { description: Deleted } } }
  /api/v1/jobs/{jobId}/enable: { post: { summary: Enable job, responses: { '200': { description: Enabled } } } }
  /api/v1/jobs/{jobId}/disable: { post: { summary: Disable job, responses: { '200': { description: Disabled } } } }
  /api/v1/jobs/{jobId}/invocations: { post: { summary: Invoke job, requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/ManualInvocation' } } } }, responses: { '202': { description: Accepted } } } }
  /api/v1/jobs/{jobId}/events: { get: { summary: List webhook activity, responses: { '200': { description: Activity } } } }
  /api/v1/webhooks/deliveries: { get: { summary: Search webhook deliveries, responses: { '200': { description: Cursor-paginated safe delivery records } } } }
  /api/v1/webhooks/deliveries/{deliveryId}: { get: { summary: Get webhook delivery detail and processing timeline, responses: { '200': { description: Safe delivery detail } } } }
  /api/v1/job-handlers/test: { post: { summary: Test webhook handler, responses: { '200': { description: Decision } } } }
  /api/v1/runs:
    get: { summary: List runs, parameters: [{ name: jobId, in: query, schema: { type: string } }, { name: state, in: query, schema: { type: string } }, { name: contextQuery, in: query, schema: { type: string } }, { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100 } }, { name: cursor, in: query, schema: { type: string } }], responses: { '200': { description: Paginated runs, content: { application/json: { schema: { $ref: '#/components/schemas/RunPage' } } } } } }
  /api/v1/runs/{runId}: { get: { summary: Get run, responses: { '200': { description: Run, content: { application/json: { schema: { $ref: '#/components/schemas/Run' } } } } } } }
  /api/v1/runs/{runId}/trace: { get: { summary: Get paginated run trace events, responses: { '200': { description: Trace page } } } }
  /api/v1/runs/{runId}/diagnostics: { get: { summary: Get credential-safe run lifecycle diagnostics, responses: { '200': { description: Launch, prompt, output, claim, cleanup, and activity diagnostics } } } }
  /api/v1/runs/{runId}/stop: { post: { summary: Stop run, responses: { '200': { description: Stopped } } } }
  /api/v1/runs/{runId}/kill: { post: { summary: Kill run and immediately release its concurrency slot, responses: { '200': { description: Killed } } } }
  /api/v1/schedules/preview: { post: { summary: Preview schedule, responses: { '200': { description: Next occurrence } } } }
  /api/v1/search: { get: { summary: Search jobs and runs, responses: { '200': { description: Search results } } } }
