# Generated by npm run generate:openapi. Edit packages/api/src/api-contract.ts.
openapi: 3.1.0
info:
  title: Factorize API
  version: 1.0.0
  description: Versioned Factorize REST API. See the hosted docs for examples and OAuth discovery.
  x-dashboard-auth: Access-token and authorized-client management and trace replay operations require an interactive owner session; all other operations accept a suitably scoped bearer token or owner session.
servers:
  - url: https://app.factorize.sh
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2
    cookieAuth:
      type: apiKey
      in: cookie
      name: factorize_session
  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
            message:
              type: string
    Run:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: Time the run was created and queued.
        started_at:
          type:
            - string
            - "null"
          format: date-time
          description: Time execution launch succeeded. Null until started or when unknown. Runtime starts here; the difference from created_at is queue time including launch preparation.
        updated_at:
          type: string
          format: date-time
          description: Last run update; used as the elapsed runtime endpoint for terminal runs.
    RunPage:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Run"
        nextCursor:
          type:
            - string
            - "null"
    ExecutionDiagnostics:
      type:
        - object
        - "null"
      description: First terminal backend observation, retained independently of collection and cleanup errors. Null for older or nonterminal runs. Commands and raw backend responses are never included.
      required:
        - state
        - detail
        - systemd
      properties:
        state:
          type: string
          enum:
            - succeeded
            - failed
            - stopped
        detail:
          type:
            - string
            - "null"
          maxLength: 2048
          description: Bounded credential-redacted backend observation detail
        systemd:
          type:
            - object
            - "null"
          required:
            - loadState
            - activeState
            - subState
            - result
            - execMainCode
            - execMainStatus
          properties:
            loadState:
              type: string
              maxLength: 64
            activeState:
              type: string
              maxLength: 64
            subState:
              type: string
              maxLength: 64
            result:
              type: string
              maxLength: 64
            execMainCode:
              type:
                - integer
                - "null"
              description: systemd ExecMainCode (for example 1 for exit and 2 for signal)
            execMainStatus:
              type:
                - integer
                - "null"
              description: systemd exit status or signal number; null if unavailable
    HarnessLog:
      type:
        - object
        - "null"
      description: Stored redacted harness stderr artifact, or null if unavailable. Uses the combined log for older VMs. Retains at most the first 64 KiB, drops a truncated final line, and redacts recognizable credentials before storage. The object key is a storage locator, not a public or signed URL. This artifact remains available after VM deletion.
      required:
        - id
        - kind
        - object_key
        - provider
        - format
        - byte_size
        - sha256
        - state
        - created_at
      properties:
        id:
          type: string
        kind:
          type: string
          const: terminal_log
        object_key:
          type: string
        provider:
          type: string
        format:
          type: string
          const: text
        format_version:
          type:
            - string
            - "null"
        cli_version:
          type:
            - string
            - "null"
        source_generation:
          type:
            - string
            - "null"
          description: Live source generation bound to the terminal snapshot; unknown for historical receipts.
        native_session_id:
          type:
            - string
            - "null"
        byte_size:
          type:
            - integer
            - string
          description: Byte count (PostgreSQL bigint may serialize as a decimal string)
          maximum: 65536
        sha256:
          type: string
          pattern: ^[a-f0-9]{64}$
        state:
          type: string
          enum:
            - stored
        created_at:
          type: string
          format: date-time
    TraceSource:
      type: object
      required:
        - kind
        - path
        - mediaType
        - provider
      properties:
        kind:
          type: string
          enum:
            - execution_stream
            - native_session
        path:
          type: string
          description: Guest source path; historical native sources may use a discovery root
        mediaType:
          type: string
          const: application/x-ndjson
        provider:
          type: string
          enum:
            - codex
            - claude
            - pi
        formatVersion:
          type: string
        cliVersion:
          type: string
        harnessVersion:
          type: string
        discoverCommand:
          type: string
          description: Native session discovery only
    TraceSources:
      type:
        - object
        - "null"
      properties:
        primary:
          $ref: "#/components/schemas/TraceSource"
        nativeSession:
          $ref: "#/components/schemas/TraceSource"
    TraceProjection:
      type:
        - object
        - "null"
      description: Committed projection receipt. Null means no durable reconciliation evidence; it does not mean complete.
      properties:
        source_kind:
          type: string
          enum:
            - execution_stream
            - native_session
        artifact_sha256:
          type: string
        parser_version:
          type: string
        updated_at:
          type: string
          format: date-time
        reconciliation:
          type: object
          properties:
            state:
              type: string
              enum:
                - matched
                - mismatch
                - no_live_cursor
                - reprojected
            events:
              type: integer
            liveEvents:
              type: integer
            mismatches:
              type: integer
            liveOffset:
              type:
                - integer
                - "null"
            artifactBytes:
              type: integer
            generation:
              type:
                - string
                - "null"
            codexCompletion:
              type: string
              enum:
                - turn.completed
                - missing_turn_completed
              description: Completion evidence from the exact retained canonical Codex bytes.
    TraceDiagnostics:
      type: object
      required:
        - provider
        - primarySource
        - sourceVersion
        - projection
        - liveCursor
        - counts
        - artifacts
        - nativeArtifactState
        - fallbackUsed
        - lastReplay
      properties:
        provider:
          type:
            - string
            - "null"
          description: Agent trace provider; the outer diagnostics provider remains the trigger provider.
        primarySource:
          type: string
          enum:
            - execution_stream
            - native_session
        sourceVersion:
          type:
            - string
            - "null"
        projection:
          $ref: "#/components/schemas/TraceProjection"
        liveCursor:
          type:
            - object
            - "null"
          properties:
            generation:
              type: string
            committed_offset:
              type:
                - integer
                - string
            pending_bytes:
              type: integer
            updated_at:
              type: string
              format: date-time
        counts:
          type: object
          properties:
            events:
              type: integer
            parse_warnings:
              type: integer
            unknown_events:
              type: integer
            unknownEventRate:
              type: number
              minimum: 0
              maximum: 1
        artifacts:
          type: array
          description: Tenant/run-scoped receipts; storage keys are locators, never public download URLs. Includes kind, provider, source_path, source_generation, format and source/CLI/harness versions, byte size, checksum and storage state.
          items:
            type: object
        nativeArtifactState:
          type: string
          enum:
            - stored
            - missing
            - not_applicable
          description: Canonical Codex runs do not capture native sessions. Historical native receipts remain readable.
        fallbackUsed:
          type: boolean
          description: Native projection selected for a run originally declared with an execution stream primary.
        lastReplay:
          type:
            - object
            - "null"
          description: Latest completed replay request ID
          source: null
          result: null
          and timestamp; failed requests are retryable and logged.: null
    TraceReplayResult:
      type: object
      required:
        - requestId
        - runId
        - status
      properties:
        requestId:
          type: string
          format: uuid
        runId:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - projected
            - already_projected
            - skipped
            - unrecoverable
        reason:
          type: string
          enum:
            - run_active
            - ambiguous_artifacts
            - missing_artifact
            - unsupported_artifact
            - artifact_not_retained
        sourceKind:
          type: string
          enum:
            - execution_stream
            - native_session
        sha256:
          type: string
        parserVersion:
          type: string
        reconciliation:
          type: object
    RunDetail:
      allOf:
        - $ref: "#/components/schemas/Run"
      type: object
      required:
        - id
        - state
        - execution_diagnostics
        - harness_log
      properties:
        id:
          type: string
        state:
          type: string
        trace_generation:
          type:
            - string
            - "null"
          description: Live file generation; clients reset trace pagination when it changes.
        trace_projection:
          $ref: "#/components/schemas/TraceProjection"
        trace_sources:
          $ref: "#/components/schemas/TraceSources"
        execution_diagnostics:
          $ref: "#/components/schemas/ExecutionDiagnostics"
        harness_log:
          $ref: "#/components/schemas/HarnessLog"
        artifact_error:
          type:
            - string
            - "null"
          description: Secondary artifact or cleanup error; does not replace execution_diagnostics
        job_name:
          type: string
          description: Current job name, included so run content does not require a separate job request.
    RunDiagnostics:
      type: object
      required:
        - runId
        - jobId
        - state
        - execution
        - harnessLog
        - artifact
        - activity
      properties:
        runId:
          type: string
        jobId:
          type: string
        state:
          type: string
        provider:
          type: string
        backendKind:
          type: string
        trace:
          $ref: "#/components/schemas/TraceDiagnostics"
        traceSources:
          $ref: "#/components/schemas/TraceSources"
        execution:
          $ref: "#/components/schemas/ExecutionDiagnostics"
        harnessLog:
          $ref: "#/components/schemas/HarnessLog"
        artifact:
          type: object
          properties:
            state:
              type: string
            error:
              type:
                - string
                - "null"
              description: Secondary collection or cleanup error. Collection is retried up to three times before cleanup proceeds with partial artifacts. Cleanup failures remain retryable.
        activity:
          type: array
          items:
            type: object
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    JobInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        slug:
          type: string
          pattern: ^[a-z][a-z0-9_-]{0,29}$
        promptTemplate:
          type: string
          minLength: 1
          maxLength: 50000
        runNameTemplate:
          type: string
          maxLength: 500
        concurrencyLimit:
          default: 1
          type: integer
          minimum: 1
          maximum: 50
        executionTargetId:
          type: string
          minLength: 1
        model:
          type: string
          maxLength: 120
        effort:
          type: string
          maxLength: 40
        triggers:
          default: []
          maxItems: 50
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  slug:
                    type: string
                    pattern: ^trigger-[1-9][0-9]*$
                  kind:
                    type: string
                    const: manual
                  enabled:
                    default: true
                    type: boolean
                  config:
                    default: {}
                    type: object
                    properties: {}
                    additionalProperties: false
                required:
                  - kind
                additionalProperties: false
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  slug:
                    type: string
                    pattern: ^trigger-[1-9][0-9]*$
                  kind:
                    type: string
                    const: schedule
                  enabled:
                    default: true
                    type: boolean
                  config:
                    type: object
                    properties:
                      cron:
                        type: string
                        minLength: 1
                      timezone:
                        type: string
                        minLength: 1
                    required:
                      - cron
                      - timezone
                    additionalProperties: false
                required:
                  - kind
                  - config
                additionalProperties: false
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  slug:
                    type: string
                    pattern: ^trigger-[1-9][0-9]*$
                  kind:
                    type: string
                    const: webhook
                  enabled:
                    default: true
                    type: boolean
                  config:
                    oneOf:
                      - type: object
                        properties:
                          handlerCode:
                            type: string
                            maxLength: 16384
                          provider:
                            type: string
                            const: linear
                          projectId:
                            type: string
                            minLength: 1
                          matchRules:
                            minItems: 1
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - owner
                                    - creator
                                    - status
                                    - label
                                    - assignee
                                targetId:
                                  type: string
                                  minLength: 1
                              required:
                                - type
                                - targetId
                        required:
                          - provider
                          - projectId
                          - matchRules
                        additionalProperties: false
                      - type: object
                        properties:
                          handlerCode:
                            type: string
                            maxLength: 16384
                          provider:
                            type: string
                            const: clickup
                          listId:
                            type: string
                            minLength: 1
                          matchRules:
                            minItems: 1
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - owner
                                    - creator
                                    - status
                                    - label
                                    - assignee
                                targetId:
                                  type: string
                                  minLength: 1
                              required:
                                - type
                                - targetId
                        required:
                          - provider
                          - listId
                          - matchRules
                        additionalProperties: false
                      - type: object
                        properties:
                          handlerCode:
                            type: string
                            maxLength: 16384
                          provider:
                            type: string
                            const: github
                          installationId:
                            type: integer
                            exclusiveMinimum: 0
                            maximum: 9007199254740991
                          repositoryId:
                            type: integer
                            exclusiveMinimum: 0
                            maximum: 9007199254740991
                          event:
                            type: string
                            minLength: 1
                          action:
                            type: string
                            minLength: 1
                          matchRules:
                            minItems: 1
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - owner
                                    - creator
                                    - status
                                    - label
                                    - assignee
                                targetId:
                                  type: string
                                  minLength: 1
                              required:
                                - type
                                - targetId
                        required:
                          - provider
                          - installationId
                          - repositoryId
                        additionalProperties: false
                      - type: object
                        properties:
                          handlerCode:
                            type: string
                            maxLength: 16384
                          provider:
                            type: string
                            const: cloudflareTail
                          integrationId:
                            type: string
                            minLength: 1
                        required:
                          - provider
                          - integrationId
                        additionalProperties: false
                required:
                  - kind
                  - config
                additionalProperties: false
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  slug:
                    type: string
                    pattern: ^trigger-[1-9][0-9]*$
                  kind:
                    type: string
                    const: jobLifecycle
                  enabled:
                    default: true
                    type: boolean
                  config:
                    type: object
                    properties:
                      sourceJobIds:
                        minItems: 1
                        type: array
                        items:
                          type: string
                          minLength: 1
                      states:
                        minItems: 1
                        type: array
                        items:
                          type: string
                          enum:
                            - succeeded
                            - failed
                            - stopped
                            - edited
                    required:
                      - sourceJobIds
                      - states
                    additionalProperties: false
                required:
                  - kind
                  - config
                additionalProperties: false
      required:
        - name
        - slug
        - promptTemplate
        - executionTargetId
      additionalProperties: false
    ManualInvocation:
      type: object
      properties:
        prompt:
          default: ""
          type: string
          maxLength: 50000
        data:
          type: object
          propertyNames:
            type: string
          additionalProperties: {}
        name:
          type: string
          minLength: 1
          maxLength: 120
        idempotencyKey:
          type: string
          minLength: 1
          maxLength: 200
          pattern: ^(?!manual:)
      additionalProperties: false
    JobHandlerTest:
      type: object
      properties:
        handlerCode:
          type: string
          maxLength: 16384
        payload:
          type: object
          propertyNames:
            type: string
          additionalProperties: {}
      required:
        - handlerCode
        - payload
      additionalProperties: false
    TraceReplayRequest:
      type: object
      properties:
        requestId:
          type: string
          format: uuid
          pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
          description: Tenant-scoped idempotency key; preserve it when retrying. Use a new key to reconsider a previously skipped or unrecoverable run.
        source:
          default: primary
          description: Primary replays the persisted source declaration (native for historical runs); native_session selects retained native bytes for other providers or historical native-only Codex runs. Canonical Codex runs reject native replay.
          type: string
          enum:
            - primary
            - native_session
      required:
        - requestId
      additionalProperties: false
  responses:
    Error400:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Error401:
      description: Invalid or revoked credentials
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Error403:
      description: Missing scope or required owner session
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Error404:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Error409:
      description: Operation conflict
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Error415:
      description: Unsupported media type; use application/json
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Error429:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Error500:
      description: Internal error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Error503:
      description: Service unavailable
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
paths:
  /api/v1/session:
    get:
      summary: Get current browser session
      description: Cookie-only browser operation. Mutations require an exact app Origin and reject cross-site requests. Authorization headers are rejected. Responses are never cached.
      responses:
        "200":
          description: Unauthenticated sessions return authenticated:false; expired, unverified, removed or revoked owners are unauthenticated.
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      authenticated:
                        type: boolean
                        const: false
                    required:
                      - authenticated
                    additionalProperties: false
                  - type: object
                    properties:
                      authenticated:
                        type: boolean
                        const: true
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          email:
                            type: string
                            format: email
                            pattern: ^(?:[A-Za-z0-9_'+\-]+\.)*[A-Za-z0-9_'+\-]*[A-Za-z0-9_+-]@(?:[A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                        required:
                          - id
                          - email
                        additionalProperties: false
                      workspace:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type:
                              - string
                              - "null"
                          role:
                            type: string
                            const: owner
                        required:
                          - id
                          - name
                          - role
                        additionalProperties: false
                      capabilities:
                        type: array
                        items:
                          type: string
                          enum:
                            - flows:read
                            - flows:write
                            - runs:read
                            - runs:write
                      expiresAt:
                        type: string
                        format: date-time
                        pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d(?:\.\d+)?(?:Z))$
                    required:
                      - authenticated
                      - user
                      - workspace
                      - capabilities
                      - expiresAt
                    additionalProperties: false
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      operationId: get_api_v1_session
      tags:
        - session
      security: []
      x-browser-auth-operation: session
      x-owner-session-required: false
  /api/v1/auth/login:
    post:
      summary: Sign in
      description: Cookie-only browser operation. Mutations require an exact app Origin and reject cross-site requests. Authorization headers are rejected. Responses are never cached.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    const: true
                  returnTo:
                    type: string
                required:
                  - ok
                  - returnTo
                additionalProperties: false
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "415":
          $ref: "#/components/responses/Error415"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      operationId: post_api_v1_auth_login
      tags:
        - auth
      security: []
      x-browser-auth-operation: login
      x-owner-session-required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  maxLength: 320
                  format: email
                  pattern: ^(?:[A-Za-z0-9_'+\-]+\.)*[A-Za-z0-9_'+\-]*[A-Za-z0-9_+-]@(?:[A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                password:
                  type: string
                  minLength: 12
                  maxLength: 200
                  writeOnly: true
                returnTo:
                  type: string
                  maxLength: 4096
              required:
                - email
                - password
              additionalProperties: false
  /api/v1/auth/signup:
    post:
      summary: Request signup; existing accounts return the same accepted response
      description: Cookie-only browser operation. Mutations require an exact app Origin and reject cross-site requests. Authorization headers are rejected. Responses are never cached.
      responses:
        "202":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    const: true
                required:
                  - ok
                additionalProperties: false
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "415":
          $ref: "#/components/responses/Error415"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      operationId: post_api_v1_auth_signup
      tags:
        - auth
      security: []
      x-browser-auth-operation: signup
      x-owner-session-required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  maxLength: 320
                  format: email
                  pattern: ^(?:[A-Za-z0-9_'+\-]+\.)*[A-Za-z0-9_'+\-]*[A-Za-z0-9_+-]@(?:[A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                password:
                  type: string
                  minLength: 12
                  maxLength: 200
                  writeOnly: true
              required:
                - email
                - password
              additionalProperties: false
  /api/v1/auth/email-verification/request:
    post:
      summary: Request email verification
      description: Cookie-only browser operation. Mutations require an exact app Origin and reject cross-site requests. Authorization headers are rejected. Responses are never cached.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    const: true
                required:
                  - ok
                additionalProperties: false
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "415":
          $ref: "#/components/responses/Error415"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      operationId: post_api_v1_auth_email_verification_request
      tags:
        - auth
      security: []
      x-browser-auth-operation: verification-request
      x-owner-session-required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  maxLength: 320
                  format: email
                  pattern: ^(?:[A-Za-z0-9_'+\-]+\.)*[A-Za-z0-9_'+\-]*[A-Za-z0-9_+-]@(?:[A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
              required:
                - email
              additionalProperties: false
  /api/v1/auth/email-verification/complete:
    post:
      summary: Complete email verification
      description: Cookie-only browser operation. Mutations require an exact app Origin and reject cross-site requests. Authorization headers are rejected. Responses are never cached.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    const: true
                required:
                  - ok
                additionalProperties: false
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "415":
          $ref: "#/components/responses/Error415"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      operationId: post_api_v1_auth_email_verification_complete
      tags:
        - auth
      security: []
      x-browser-auth-operation: verification
      x-owner-session-required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  minLength: 1
                  maxLength: 512
                  writeOnly: true
              required:
                - token
              additionalProperties: false
  /api/v1/auth/password-reset/request:
    post:
      summary: Request password reset
      description: Cookie-only browser operation. Mutations require an exact app Origin and reject cross-site requests. Authorization headers are rejected. Responses are never cached.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    const: true
                required:
                  - ok
                additionalProperties: false
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "415":
          $ref: "#/components/responses/Error415"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      operationId: post_api_v1_auth_password_reset_request
      tags:
        - auth
      security: []
      x-browser-auth-operation: reset-request
      x-owner-session-required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  maxLength: 320
                  format: email
                  pattern: ^(?:[A-Za-z0-9_'+\-]+\.)*[A-Za-z0-9_'+\-]*[A-Za-z0-9_+-]@(?:[A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
              required:
                - email
              additionalProperties: false
  /api/v1/auth/password-reset/complete:
    post:
      summary: Complete password reset
      description: Cookie-only browser operation. Mutations require an exact app Origin and reject cross-site requests. Authorization headers are rejected. Responses are never cached.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    const: true
                required:
                  - ok
                additionalProperties: false
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "415":
          $ref: "#/components/responses/Error415"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      operationId: post_api_v1_auth_password_reset_complete
      tags:
        - auth
      security: []
      x-browser-auth-operation: reset
      x-owner-session-required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  minLength: 1
                  maxLength: 512
                  writeOnly: true
                password:
                  type: string
                  minLength: 12
                  maxLength: 200
                  writeOnly: true
              required:
                - token
                - password
              additionalProperties: false
  /api/v1/auth/password:
    post:
      summary: Change password and invalidate sessions
      description: Cookie-only browser operation. Mutations require an exact app Origin and reject cross-site requests. Authorization headers are rejected. Responses are never cached.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    const: true
                required:
                  - ok
                additionalProperties: false
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "415":
          $ref: "#/components/responses/Error415"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      operationId: post_api_v1_auth_password
      tags:
        - auth
      security:
        - cookieAuth: []
      x-browser-auth-operation: password
      x-owner-session-required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                currentPassword:
                  type: string
                  minLength: 12
                  maxLength: 200
                  writeOnly: true
                password:
                  type: string
                  minLength: 12
                  maxLength: 200
                  writeOnly: true
              required:
                - currentPassword
                - password
              additionalProperties: false
  /api/v1/auth/logout:
    post:
      summary: Revoke current session and clear browser cookie
      description: Cookie-only browser operation. Mutations require an exact app Origin and reject cross-site requests. Authorization headers are rejected. Responses are never cached.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    const: true
                required:
                  - ok
                additionalProperties: false
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      operationId: post_api_v1_auth_logout
      tags:
        - auth
      security: []
      x-browser-auth-operation: logout
      x-owner-session-required: false
  /api/v1/exe-connections:
    get:
      summary: List exe connections
      responses:
        "200":
          description: Safe metadata
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:read scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: get_api_v1_exe_connections
      tags:
        - exe-connections
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:read
      x-owner-session-required: false
  /api/v1/github-installations:
    get:
      summary: List GitHub installations
      responses:
        "200":
          description: Installations
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:read scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: get_api_v1_github_installations
      tags:
        - github-installations
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:read
      x-owner-session-required: false
  /api/v1/execution-targets:
    get:
      summary: List execution targets
      responses:
        "200":
          description: Targets
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:read scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: get_api_v1_execution_targets
      tags:
        - execution-targets
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:read
      x-owner-session-required: false
  /api/v1/job-trigger-availability:
    get:
      summary: List available trigger kinds
      responses:
        "200":
          description: Availability
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:read scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: get_api_v1_job_trigger_availability
      tags:
        - job-trigger-availability
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:read
      x-owner-session-required: false
  /api/v1/schedules/preview:
    post:
      summary: Preview schedule
      responses:
        "200":
          description: Next occurrence
          content:
            application/json:
              schema:
                type: object
                required:
                  - nextRunAt
                properties:
                  nextRunAt:
                    type: string
                    format: date-time
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "415":
          $ref: "#/components/responses/Error415"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:read scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: post_api_v1_schedules_preview
      tags:
        - schedules
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:read
      x-owner-session-required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cron:
                  type: string
                  minLength: 1
                timezone:
                  type: string
                  minLength: 1
              required:
                - cron
                - timezone
              additionalProperties: false
  /api/v1/integrations/cloudflare-tail:
    get:
      summary: List Tail integrations
      responses:
        "200":
          description: Integrations
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:read scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: get_api_v1_integrations_cloudflare_tail
      tags:
        - integrations
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:read
      x-owner-session-required: false
    post:
      summary: Create a Tail integration
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "415":
          $ref: "#/components/responses/Error415"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:write scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: post_api_v1_integrations_cloudflare_tail
      tags:
        - integrations
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:write
      x-owner-session-required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                integrationId:
                  type: string
                  minLength: 1
                name:
                  type: string
                  minLength: 1
                  maxLength: 120
                signingSecret:
                  writeOnly: true
                  anyOf:
                    - type: string
                      const: ""
                    - type: string
                      minLength: 16
                generateSecret:
                  type: boolean
              required:
                - name
  /api/v1/integrations:
    get:
      summary: List installed integrations
      responses:
        "200":
          description: Credential-safe integration status
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:read scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: get_api_v1_integrations
      tags:
        - integrations
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:read
      x-owner-session-required: false
  /api/v1/integrations/exe:
    put:
      summary: Create an exe.dev integration
      responses:
        "200":
          description: Saved
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "415":
          $ref: "#/components/responses/Error415"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:write scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: put_api_v1_integrations_exe
      tags:
        - integrations
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:write
      x-owner-session-required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                connectionId:
                  type: string
                  minLength: 1
                apiToken:
                  type: string
                  minLength: 1
                  writeOnly: true
                agentKind:
                  type: string
                  enum:
                    - codex
                    - claude
                    - pi
                tags:
                  maxItems: 20
                  type: array
                  items:
                    type: string
                    pattern: ^[A-Za-z0-9][A-Za-z0-9._:-]{0,63}$
              required:
                - apiToken
                - agentKind
  /api/v1/integrations/exe/test:
    post:
      summary: Test exe.dev credentials
      responses:
        "200":
          description: Test result
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "415":
          $ref: "#/components/responses/Error415"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:write scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: post_api_v1_integrations_exe_test
      tags:
        - integrations
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:write
      x-owner-session-required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                connectionId:
                  type: string
                  minLength: 1
                apiToken:
                  type: string
                  minLength: 1
                  writeOnly: true
                agentKind:
                  type: string
                  enum:
                    - codex
                    - claude
                    - pi
                tags:
                  maxItems: 20
                  type: array
                  items:
                    type: string
                    pattern: ^[A-Za-z0-9][A-Za-z0-9._:-]{0,63}$
  /api/v1/integrations/amp:
    put:
      summary: Create an Amp integration
      responses:
        "200":
          description: Saved
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "415":
          $ref: "#/components/responses/Error415"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:write scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: put_api_v1_integrations_amp
      tags:
        - integrations
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:write
      x-owner-session-required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                connectionId:
                  type: string
                  minLength: 1
                accessToken:
                  type: string
                  minLength: 1
                  writeOnly: true
                project:
                  type: string
                  minLength: 1
                apiBaseUrl:
                  type: string
                  format: uri
              required:
                - accessToken
                - project
  /api/v1/integrations/amp/test:
    post:
      summary: Test Amp credentials
      responses:
        "200":
          description: Test result
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "415":
          $ref: "#/components/responses/Error415"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:write scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: post_api_v1_integrations_amp_test
      tags:
        - integrations
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:write
      x-owner-session-required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                connectionId:
                  type: string
                  minLength: 1
                accessToken:
                  type: string
                  minLength: 1
                  writeOnly: true
                project:
                  type: string
                  minLength: 1
                apiBaseUrl:
                  type: string
                  format: uri
  /api/v1/providers/linear/projects:
    get:
      summary: List Linear projects
      responses:
        "200":
          description: Projects
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:read scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: get_api_v1_providers_linear_projects
      tags:
        - providers
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:read
      x-owner-session-required: false
  /api/v1/providers/linear/options:
    get:
      summary: List Linear trigger options
      responses:
        "200":
          description: Options
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:read scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: get_api_v1_providers_linear_options
      tags:
        - providers
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:read
      x-owner-session-required: false
  /api/v1/providers/clickup/lists:
    get:
      summary: List ClickUp lists
      responses:
        "200":
          description: Lists
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:read scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: get_api_v1_providers_clickup_lists
      tags:
        - providers
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:read
      x-owner-session-required: false
  /api/v1/providers/clickup/options:
    get:
      summary: List ClickUp trigger options
      responses:
        "200":
          description: Options
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:read scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: get_api_v1_providers_clickup_options
      tags:
        - providers
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:read
      x-owner-session-required: false
      parameters:
        - name: listId
          in: query
          required: false
          schema:
            default: ""
            type: string
  /api/v1/providers/github/installations:
    get:
      summary: List GitHub installations for provider setup
      responses:
        "200":
          description: Installations
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:read scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: get_api_v1_providers_github_installations
      tags:
        - providers
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:read
      x-owner-session-required: false
  /api/v1/access/authorized-clients:
    get:
      summary: List authorized OAuth clients
      responses:
        "200":
          description: Clients
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:read scope.

        An interactive owner session is required; bearer tokens cannot call this operation.
      operationId: get_api_v1_access_authorized_clients
      tags:
        - access
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:read
      x-owner-session-required: true
  /api/v1/access-tokens:
    get:
      summary: List access tokens
      responses:
        "200":
          description: Token metadata
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:read scope.

        An interactive owner session is required; bearer tokens cannot call this operation.
      operationId: get_api_v1_access_tokens
      tags:
        - access-tokens
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:read
      x-owner-session-required: true
    post:
      summary: Create an access token
      responses:
        "201":
          description: Created token
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "415":
          $ref: "#/components/responses/Error415"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:write scope.

        An interactive owner session is required; bearer tokens cannot call this operation.
      operationId: post_api_v1_access_tokens
      tags:
        - access-tokens
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:write
      x-owner-session-required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                scopes:
                  minItems: 1
                  type: array
                  items:
                    type: string
                    enum:
                      - flows:read
                      - flows:write
                      - runs:read
                      - runs:write
                expiryDays:
                  anyOf:
                    - type: number
                      const: 7
                    - type: number
                      const: 30
                    - type: number
                      const: 90
              required:
                - name
                - scopes
                - expiryDays
  /api/v1/access-tokens/{tokenId}:
    delete:
      summary: Revoke an access token
      responses:
        "200":
          description: Revoked
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:write scope.

        An interactive owner session is required; bearer tokens cannot call this operation.
      operationId: delete_api_v1_access_tokens_tokenId
      tags:
        - access-tokens
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:write
      x-owner-session-required: true
      parameters:
        - name: tokenId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
  /api/v1/access/authorized-clients/{clientId}:
    delete:
      summary: Revoke an authorized OAuth client
      responses:
        "200":
          description: Revoked grants
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:write scope.

        An interactive owner session is required; bearer tokens cannot call this operation.
      operationId: delete_api_v1_access_authorized_clients_clientId
      tags:
        - access
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:write
      x-owner-session-required: true
      parameters:
        - name: clientId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
  /api/v1/integrations/exe/{connectionId}:
    delete:
      summary: Remove an exe.dev integration
      responses:
        "200":
          description: Removed
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:write scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: delete_api_v1_integrations_exe_connectionId
      tags:
        - integrations
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:write
      x-owner-session-required: false
      parameters:
        - name: connectionId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
  /api/v1/integrations/amp/{connectionId}:
    delete:
      summary: Remove an Amp integration
      responses:
        "200":
          description: Removed
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:write scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: delete_api_v1_integrations_amp_connectionId
      tags:
        - integrations
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:write
      x-owner-session-required: false
      parameters:
        - name: connectionId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
  /api/v1/integrations/cloudflare-tail/{integrationId}:
    put:
      summary: Update a Tail integration
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "415":
          $ref: "#/components/responses/Error415"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:write scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: put_api_v1_integrations_cloudflare_tail_integrationId
      tags:
        - integrations
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:write
      x-owner-session-required: false
      parameters:
        - name: integrationId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                integrationId:
                  type: string
                  minLength: 1
                name:
                  type: string
                  minLength: 1
                  maxLength: 120
                signingSecret:
                  writeOnly: true
                  anyOf:
                    - type: string
                      const: ""
                    - type: string
                      minLength: 16
                generateSecret:
                  type: boolean
              required:
                - name
    delete:
      summary: Remove a Tail integration
      responses:
        "200":
          description: Removed
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:write scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: delete_api_v1_integrations_cloudflare_tail_integrationId
      tags:
        - integrations
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:write
      x-owner-session-required: false
      parameters:
        - name: integrationId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
  /api/v1/integrations/cloudflare-tail/{integrationId}/test:
    post:
      summary: Test a Tail integration
      responses:
        "200":
          description: Test result
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:write scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: post_api_v1_integrations_cloudflare_tail_integrationId_test
      tags:
        - integrations
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:write
      x-owner-session-required: false
      parameters:
        - name: integrationId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
  /api/v1/providers/github/installations/{installationId}/repositories:
    get:
      summary: List installation repositories
      responses:
        "200":
          description: Repositories
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:read scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: get_api_v1_providers_github_installations_installationId_repositories
      tags:
        - providers
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:read
      x-owner-session-required: false
      parameters:
        - name: installationId
          in: path
          required: true
          schema:
            type: string
            pattern: ^[0-9]+$
  /api/v1/providers/github/installations/{installationId}/repositories/{repositoryId}/issue-options:
    get:
      summary: List GitHub issue trigger options
      responses:
        "200":
          description: Options
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:read scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: get_api_v1_providers_github_installations_installationId_repositories_repositoryId_issue_options
      tags:
        - providers
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:read
      x-owner-session-required: false
      parameters:
        - name: installationId
          in: path
          required: true
          schema:
            type: string
            pattern: ^[0-9]+$
        - name: repositoryId
          in: path
          required: true
          schema:
            type: string
            pattern: ^[0-9]+$
  /api/v1/providers/github/installations/{installationId}:
    delete:
      summary: Disconnect a GitHub installation
      responses:
        "200":
          description: Disconnected
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:write scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: delete_api_v1_providers_github_installations_installationId
      tags:
        - providers
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:write
      x-owner-session-required: false
      parameters:
        - name: installationId
          in: path
          required: true
          schema:
            type: string
            pattern: ^[0-9]+$
  /api/v1/integrations/exe/{connectionId}/diagnostics:
    post:
      summary: Probe exe.dev permissions and a disposable VM's agent/model integration
      responses:
        "200":
          description: Credential-safe diagnostic result
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:write scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: post_api_v1_integrations_exe_connectionId_diagnostics
      tags:
        - integrations
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:write
      x-owner-session-required: false
      parameters:
        - name: connectionId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
  /api/v1/jobs:
    get:
      summary: List jobs
      responses:
        "200":
          description: Jobs
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:read scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: get_api_v1_jobs
      tags:
        - jobs
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:read
      x-owner-session-required: false
    post:
      summary: Create job
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "415":
          $ref: "#/components/responses/Error415"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:write scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: post_api_v1_jobs
      tags:
        - jobs
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:write
      x-owner-session-required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JobInput"
  /api/v1/job-handlers/test:
    post:
      summary: Test webhook handler
      responses:
        "200":
          description: Decision
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "415":
          $ref: "#/components/responses/Error415"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:write scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: post_api_v1_job_handlers_test
      tags:
        - job-handlers
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:write
      x-owner-session-required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JobHandlerTest"
  /api/v1/jobs/{jobId}/invocations:
    post:
      summary: Invoke job
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                required:
                  - invocationId
                  - runId
                  - state
                  - duplicate
                properties:
                  invocationId:
                    type: string
                  runId:
                    type: string
                  state:
                    type: string
                  duplicate:
                    type: boolean
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
          description: queue_full — this job already has one queued run. Retry after it starts. Duplicate idempotency keys return the original run.
        "415":
          $ref: "#/components/responses/Error415"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the runs:write scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: post_api_v1_jobs_jobId_invocations
      tags:
        - jobs
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: runs:write
      x-owner-session-required: false
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ManualInvocation"
  /api/v1/jobs/{jobId}/events:
    get:
      summary: List webhook activity
      responses:
        "200":
          description: Activity
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the runs:read scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: get_api_v1_jobs_jobId_events
      tags:
        - jobs
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: runs:read
      x-owner-session-required: false
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          required: false
          schema:
            default: 50
            type: integer
            minimum: 1
            maximum: 100
  /api/v1/jobs/{jobId}/enable:
    post:
      summary: Enable job
      responses:
        "200":
          description: Enabled
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:write scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: post_api_v1_jobs_jobId_enable
      tags:
        - jobs
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-required-scope: flows:write
      x-owner-session-required: false
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
  /api/v1/jobs/{jobId}/disable:
    post:
      summary: Disable job
      responses:
        "200":
          description: Disabled
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "409":
          $ref: "#/components/responses/Error409"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"
        "503":
          $ref: "#/components/responses/Error503"
      description: |-
        Requires the flows:write scope.

        Accepts a scoped bearer token or interactive owner session.
      operationId: post_api_v1_jobs_jobId_disable
      tags:
        - jobs
[...]
